.btn
    display: inline-block
    margin-top: 10px
    transition-duration: 0.5s
    border-radius: 5px
    background: none
    cursor: pointer
    border: none

    svg
        width: 25px
        height: 25px
        padding: 15px

    &.regular
        border: 1px solid $color-a
        color: $color-a
        background-color: $color-d

        svg
            fill: $color-a

        &:hover
            background-color: $color-a
            color: $color-d

            svg
                fill: $color-d

    &.dark

        color: $color-d
        background-color: $color-a

        svg
            fill: $color-d

        &:hover
            background-color: $color-d
            color: $color-a

            svg
                fill: $color-a

    &.rounded
        border-radius: 50%

    &.phantom
        svg
            fill: $color-b
            
        &:hover
            svg
                fill: rgba($color-b, 0.5)