form

    h2
        max-width: 1000px
        margin: 0 auto
        margin-bottom: 20px

    fieldset
        display: flex
        align-items: flex-start
        justify-content: center
        max-width: 1000px
        margin: 0 auto
        box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 2px 6px rgb(0 0 0 / 23%)
        border-radius: 5px
        margin-bottom: 50px
        border: none

        .left, .right
            width: 50%
            display: flex
            align-items: flex-start
            justify-content: center
            flex-direction: column
            padding: 20px

            label
                font-size: 22px
                width: 100%
                margin-bottom: 10px

            input, textarea
                display: block
                width: calc(100% - 40px)
                border: none
                background-color: rgba(grey, 0.1)
                margin-bottom: 20px
                font-size: 18px
                padding: 10px 20px

                &.validate:invalid
                    background-color: rgba(red, 0.1)
            
            textarea
                resize: none
                height: 135px

            .btn.regular
                width: 100%

    @media screen and (max-width: 900px)
        fieldset
            flex-direction: column

            .left, .right
                width: calc(100% - 40px)

            .right
                padding-top: 0

            .left
                padding-bottom: 0

    @media screen and (max-width: 450px)
        fieldset
            padding: 0
            box-shadow: none

            .left, .right
                padding: 0
                width: 100%


    
