section.general
    display: flex
    align-items: center
    justify-content: flex-start
    position: relative

    img
        width: 300px
        padding: 15px
        height: auto
        box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 2px 6px rgb(0 0 0 / 23%)
        margin-right: 30px

    .content
        .status
            font-size: 12px
            line-height: 12px
            margin: 0
        
            span.circle
                width: 12px
                height: 12px
                border-radius: 50%
                background-color: $color-c
                display: inline-block

        h1
            margin-top: 25px
            margin-bottom: 50px

        .phone
            display: none

        .info
            line-height: 30px
            margin-bottom: 10px

    .contact
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        position: absolute
        right: 0

        a
            display: inline-block
            border: 1px solid $color-a
            margin-top: 10px
            transition-duration: 0.5s
            border-radius: 5px

            svg
                width: 25px
                height: 25px
                padding: 15px
                fill: $color-a

            p
                display: none

            &:hover
                background-color: $color-a

                svg
                    fill: $color-d

    @media screen and (max-width: 1000px)
        flex-direction: column
        align-items: flex-start
        justify-content: center

        img
            margin: 0
            margin-bottom: 30px

        .contact
            top: 50px

    @media screen and (max-width: 600px)

        img
            order: 1
        
        .contact
            position: initial
            order: 2
            margin-bottom: 30px
            width: 100%
            align-items: flex-start

            a 
                width: 100%
                display: flex
                align-items: center
                justify-content: center
                background-color: $color-a
                color: $color-d

                p
                    display: block
                
                svg
                    fill: $color-d

                &:hover
                    background-color: $color-d
                    color: $color-a

                    svg
                        fill: $color-a

        .content
            order: 3
    
    @media screen and (max-width: 450px)
        img
            width: calc(100% - 30px)
        
        .contact a p
            font-size: 12px

        



                