section.locations

    .wrapper-locations
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 20px
        transition-duration: 0.5s
        height: 280px
        overflow: hidden

        &.active
            height: 580px

        article
            h3
                color: black

            address
                font-style: normal

                .location
                    line-height: 25px

                > a
                    margin: 20px 0
                    display: inline-block

                .phone, .fax
                    line-height: 30px
                    span
                        display: inline
                        margin-right: 5px
    
    button.show-all
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin: 0 auto
        background: none
        border: none
        font-size: 16px
        font-weight: bold
        color: $color-a
        margin-bottom: -45px
        margin-top: 20px

        svg
            display: inline-block
            padding: 10px
            padding-bottom: 10px
            transition-duration: 0.5s

        &.active
            svg
                transform: rotateZ(180deg)


    @media screen and (max-width: 1100px)
        .wrapper-locations
            grid-template-columns: repeat(3, 1fr)

    @media screen and (max-width: 850px)
        .wrapper-locations
            grid-template-columns: repeat(2, 1fr)

            &.active
                height: 880px

    @media screen and (max-width: 510px)
        .wrapper-locations
            grid-template-columns: repeat(1, 1fr)

            &.active
                height: 1750px
