@font-face {
  font-family: "Adelle W01";
  src: url("../fonts/Adelle W01/Adelle W01 Regular.ttf");
}
@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller/Aller.ttf");
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: "Aller", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #0070ab;
}

.regular-width {
  max-width: 1000px;
  margin: 0 auto;
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Adelle W01", cursive;
  color: #0b4264;
}

h1 {
  font-size: 40px;
  color: #0070ab;
}

h2 {
  font-size: 36px;
  margin: 5px 0;
}

h3 {
  font-size: 18px;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

section.main-section {
  margin: 50px;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  section.main-section {
    margin: 50px 10px;
  }
  section.main-section.bordered {
    border: none !important;
  }
}
section.main-section.bordered {
  border: 1px solid #0b4264;
}

p {
  font-size: 16px;
  margin: 0;
}
p.small {
  font-size: 16px;
}
p span {
  font-weight: bold;
  display: block;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  transition-duration: 0.5s;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  border: none;
}
.btn svg {
  width: 25px;
  height: 25px;
  padding: 15px;
}
.btn.regular {
  border: 1px solid #0070ab;
  color: #0070ab;
  background-color: #fefefe;
}
.btn.regular svg {
  fill: #0070ab;
}
.btn.regular:hover {
  background-color: #0070ab;
  color: #fefefe;
}
.btn.regular:hover svg {
  fill: #fefefe;
}
.btn.dark {
  color: #fefefe;
  background-color: #0070ab;
}
.btn.dark svg {
  fill: #fefefe;
}
.btn.dark:hover {
  background-color: #fefefe;
  color: #0070ab;
}
.btn.dark:hover svg {
  fill: #0070ab;
}
.btn.rounded {
  border-radius: 50%;
}
.btn.phantom svg {
  fill: #0b4264;
}
.btn.phantom:hover svg {
  fill: rgba(11, 66, 100, 0.5);
}

header {
  background-color: #0070ab;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  background-color: #fefefe;
  padding: 25px;
}
header .logo img {
  width: 200px;
}
header nav {
  width: calc(100% - 260px);
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
header nav ul li {
  list-style: none;
}
header nav ul li a.title {
  color: #fefefe;
  font-size: 18px;
  display: inline-block;
  padding: 30px;
  transition-duration: 0.5s;
}
header nav ul li a.title:hover {
  color: rgba(254, 254, 254, 0.7);
}
header .btn.menu {
  width: 30px;
  height: 30px;
  fill: #0b4264;
  display: none;
  opacity: 0.6;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  header nav ul li a.title {
    padding: 15px;
  }
}
@media screen and (max-width: 750px) {
  header {
    background-color: #fefefe;
    border-bottom: 1px solid grey;
    padding: 0 30px;
    position: relative;
    align-items: flex-start;
    height: 72px;
    transition-duration: 0.5s;
    overflow: hidden;
  }
  header nav {
    display: block;
    position: absolute;
    top: 72px;
    width: calc(100% - 60px);
  }
  header nav ul {
    flex-direction: column;
    width: 100%;
  }
  header nav ul li a.title {
    color: #0070ab;
  }
  header .btn.menu {
    display: inline-block;
    transition-duration: 0.5s;
  }
  header .logo {
    padding: 10px;
  }
  header.active {
    height: 300px;
  }
  header.active .btn.menu {
    transform: rotateZ(180deg);
  }
}

section.general {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
section.general img {
  width: 300px;
  padding: 15px;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  margin-right: 30px;
}
section.general .content .status {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}
section.general .content .status span.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #09841f;
  display: inline-block;
}
section.general .content h1 {
  margin-top: 25px;
  margin-bottom: 50px;
}
section.general .content .phone {
  display: none;
}
section.general .content .info {
  line-height: 30px;
  margin-bottom: 10px;
}
section.general .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
}
section.general .contact a p {
  display: none;
}
@media screen and (max-width: 1000px) {
  section.general {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  section.general img {
    margin: 0;
    margin-bottom: 30px;
  }
  section.general .contact {
    top: 50px;
  }
}
@media screen and (max-width: 600px) {
  section.general img {
    order: 1;
  }
  section.general .contact {
    position: initial;
    order: 2;
    margin-bottom: 30px;
    width: 100%;
    align-items: flex-start;
  }
  section.general .contact a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.general .contact a p {
    display: block;
  }
  section.general .content {
    order: 3;
  }
}
@media screen and (max-width: 450px) {
  section.general img {
    width: calc(100% - 30px);
  }
  section.general .contact a p {
    font-size: 12px;
  }
}

section.locations .wrapper-locations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  transition-duration: 0.5s;
  height: 280px;
  overflow: hidden;
}
section.locations .wrapper-locations.active {
  height: 580px;
}
section.locations .wrapper-locations article h3 {
  color: black;
}
section.locations .wrapper-locations article address {
  font-style: normal;
}
section.locations .wrapper-locations article address .location {
  line-height: 25px;
}
section.locations .wrapper-locations article address > a {
  margin: 20px 0;
  display: inline-block;
}
section.locations .wrapper-locations article address .phone, section.locations .wrapper-locations article address .fax {
  line-height: 30px;
}
section.locations .wrapper-locations article address .phone span, section.locations .wrapper-locations article address .fax span {
  display: inline;
  margin-right: 5px;
}
section.locations button.show-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #0070ab;
  margin-bottom: -45px;
  margin-top: 20px;
}
section.locations button.show-all svg {
  display: inline-block;
  padding: 10px;
  padding-bottom: 10px;
  transition-duration: 0.5s;
}
section.locations button.show-all.active svg {
  transform: rotateZ(180deg);
}
@media screen and (max-width: 1100px) {
  section.locations .wrapper-locations {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 850px) {
  section.locations .wrapper-locations {
    grid-template-columns: repeat(2, 1fr);
  }
  section.locations .wrapper-locations.active {
    height: 880px;
  }
}
@media screen and (max-width: 510px) {
  section.locations .wrapper-locations {
    grid-template-columns: repeat(1, 1fr);
  }
  section.locations .wrapper-locations.active {
    height: 1750px;
  }
}

section.about hr {
  display: none;
}
section.about .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
section.about .title h3 {
  font-size: 24px;
  color: #0070ab;
  margin-bottom: 15px;
  margin: 0;
  padding: 15px 0;
}
section.about .title .btn {
  display: none;
}
section.about .content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
section.about .content .hospital, section.about .content .special {
  width: 50%;
}
section.about .content .hospital p {
  line-height: 32px;
}
section.about .content .special img {
  width: 164px;
  height: auto;
}
@media screen and (max-width: 800px) {
  section.about hr {
    width: 100%;
    display: block;
  }
  section.about .title {
    justify-content: space-between;
  }
  section.about .title h3 {
    font-size: 20px;
  }
  section.about .title .btn {
    display: inline-block;
  }
  section.about .content {
    flex-direction: column;
  }
  section.about .content .hospital, section.about .content .special {
    width: 100%;
  }
}

section.credentials .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 10px;
}
section.credentials .row:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.05);
}
section.credentials .row span {
  width: 250px;
}
@media screen and (max-width: 900px) {
  section.credentials .row {
    display: block;
  }
  section.credentials .row:nth-child(odd) {
    background-color: white;
  }
  section.credentials .row span {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
